[submodule "uisystem/_duilib"]
	path = uisystem/_duilib
	url = https://github.com/duilib/duilib.git
[submodule "uisystem/_TIMSDK"]
	path = uisystem/_TIMSDK
	url = https://github.com/tencentyun/TIMSDK.git
[submodule "uisystem/_NIM_Duilib_Framework"]
	path = uisystem/_NIM_Duilib_Framework
	url = https://github.com/netease-im/NIM_Duilib_Framework.git
[submodule "uisystem/_DuiLib_Ultimate"]
	path = uisystem/_DuiLib_Ultimate
	url = https://github.com/qdtroy/DuiLib_Ultimate.git
[submodule "uisystem/_DuiLib_Faw"]
	path = uisystem/_DuiLib_Faw
	url = https://github.com/fawdlstty/DuiLib_Faw.git
[submodule "uisystem/_DuiLib_c"]
	path = uisystem/_DuiLib_c
	url = https://github.com/caozhiyi/DuiLib_c.git
